<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolflix</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Foglio di stile CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="./assets/img/netflix_logo_icon_170919.png" type="image/x-icon">
</head>

<body>
    <div id="app">
        <!-- Navbar + search & button -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <img class="logo" src="./assets/img/Netflix_Logo_RGB.png" alt="">
                <div class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search"
                        v-model="query" @keydown.enter="fetchMovie">
                    <button @click="fetchMovie" class="btn btn-outline-success" type="submit">Search</button>
                </div>
        </nav>
        <!-- /navbar + search & button -->

        <ul>
            <li class="movie" v-for="movie in dataResponse">
                <div class="title">{{movie.title}}</div>
                <div class="original_title">{{movie.original_title}}</div>
                <div class="language">{{movie.original_language}}</div>
                <div class="rating">
                    <div class="stars">
                        <i class="fas fa-star star" v-for="(star, i) in 5" :class="{StarredRating: i < toFiveStars(movie.vote_average)}"></i>
                    </div>
                    <div>{{toFiveStars(movie.vote_average)}} out of 5</div>
                </div>
            </li>
        </ul>

        <template v-if="error">
            <h2>{{error}}</h2>
        </template>
    </div>

    <!-- Axios -->
    <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
    <!-- Vue JS -->
    <script src="https://unpkg.com/vue"></script>
    <!-- Main JS -->
    <script src="./assets/js/main.js"></script>
</body>

</html>